[project]
	description = System configuration validation tool
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Ganesh Kadam (meganeshkadam)
[access "refs/for/refs/*"]
	read = group user/Ganesh Kadam (meganeshkadam)
	push = group user/Ganesh Kadam (meganeshkadam)
	label-Code-Review = -2..+2 group user/Ganesh Kadam (meganeshkadam)
	label-Verified = -1..+1 group user/Ganesh Kadam (meganeshkadam)
	rebase = group user/Ganesh Kadam (meganeshkadam)
	removeReviewer = group user/Ganesh Kadam (meganeshkadam)
	submit = group user/Ganesh Kadam (meganeshkadam)
[access "refs/heads/*"]
	read = group user/Ganesh Kadam (meganeshkadam)
	create = group user/Ganesh Kadam (meganeshkadam)
	push = +force group user/Ganesh Kadam (meganeshkadam)
	pushMerge = group user/Ganesh Kadam (meganeshkadam)
[access "refs/tags/*"]
	push = group user/Ganesh Kadam (meganeshkadam)
	push = +force group user/Ganesh Kadam (meganeshkadam)
